
.msg:hover {
    /* background-image: linear-gradient(to right,#fbf7d1 ,#b9e3f6); */
    background-image: linear-gradient(to right,#f9fafb ,#e7f1f6);
    font-size: 20px;
    
}
.btn{
    background-color: #5bb5f9;
    color: white;
}
.btn:hover{
    color:#5bb5f9 ;
    border-color: #5bb5f9;

}
.input{
    border-radius: 30px;
    /* padding: ; */
}
.card{
    border-radius: 40px;
    /* background-image: linear-gradient(to right,#fbf7d1 ,#b9e3f6) ; */
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: rgba(255, 255, 255);


}
.text{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.input-icon {
    position: relative;
}

.input-icon input {
    padding-left: 40px; /* Ajuster la taille du padding pour l'icône */
}

.input-icon i {
    position: absolute;
    top: 48%;
    left: 20px; /* Ajuster la position de l'icône */
    transform: translateY(-50%);
}

/* Style pour positionner l'icône à l'intérieur du textarea */
.input-icon-msg {
    position: relative;
}

.input-icon-msg input {
    padding-left: 40px; /* Ajuster la taille du padding pour l'icône */
}

.input-icon-msg i {
    position: absolute;
    top: 14%;
    left: 20px; /* Ajuster la position de l'icône */
    transform: translateY(-50%);
}
.input-group-text i {
    color: #6c757d;
  }

  textarea.form-control {
    padding-left: 40px; /* Ajustez la valeur pour aligner correctement le texte */
  }
  
.contactez-nous{
    background-image: url('/images/2870377_14995.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(238,130,238, 0.25); */

}

  

